
@{
    ViewBag.Title = "Erikas bookstore";
}

<!-- <h1><font color="green" face="Meddon">Welcome to Erikas bookstore </font></h1> -->



{{4+5}}


<div id="main">
    <!-- main page will go here-->   
    <div ng-view></div>
</div>
