<!-- changePassword.html -->
<h1>My pages - Change password</h1>

<p>{{ message }}</p>

<div ng-controller="changePassWordController as c">
    <form class="form-horizontal" name="changePasswordForm" method="post" novalidate>
        <div class="form-group">
            <label class="control-label col-xs-2">Current password: </label>
            <input ng-model="change.CurrentPassword" class="form-control" type="password" ng-minlength="4" ng-maxlength="25" ng-required="true" name="CurrentPassword" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">New password: </label>
            <input ng-model="change.NewPassword" class="form-control" type="password" ng-minlength="4" ng-maxlength="25" ng-required="true" name="NewPassword" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Confirm new password: </label>
            <input ng-model="change.ConfirmNewPassword" class="form-control" type="password" ng-minlength="4" ng-maxlength="25" ng-required="true" name="ConfirmNewPassword" />
        </div>

        <button type="submit" class="btn btn-success" ng-click="c.changePassword()">Submit</button>
     <!--   <button type="reset" class="btn btn-default" ng-click="log.reset()">Reset</button>-->
    </form>
    <font color="red"> {{statusMessage}} </font>
</div>
