<!-- handlePeople.html -->

<h1>People</h1>

<h1 ng-if="isLoggedIn && role == 'Admin'"> Logged in Admin</h1>
<h1 ng-if="!isLoggedIn && role == 'Admin'"> Not Logged in Admin</h1>
<h1 ng-if="!isLoggedIn && role == 'User'"> Not Logged in User</h1>
<h1 ng-if="isLoggedIn && role == 'User'"> Logged in User</h1>


<p>{{ message }}</p>


<div ng-controller="peopleController as pc">
    <form ng-show="showForm" class="form-horizontal" name="addForm" method="post" novalidate>
        <div class="form-group">
            <label class="control-label col-xs-2">User name: </label>
            <input ng-model="person.UserName" class="form-control" ng-minlength="4" ng-maxlength="25" ng-readonly="true" ng-required="true" name="UserName" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">First name: </label>
            <input ng-model="person.FirstName" class="form-control" ng-minlength="4" ng-maxlength="25" ng-required="true" name="FirstName" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Last name: </label>
            <input ng-model="person.LastName" class="form-control" ng-minlength="4" ng-maxlength="25" ng-required="true" name="LastName" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Password: </label>
            <input ng-model="person.Password" class="form-control" type="password" ng-minlength="4" ng-maxlength="25" ng-readonly="true"  name="Password" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Confirm password: </label>
            <input ng-model="person.ConfirmPassword" class="form-control" type="password" ng-minlength="4" ng-maxlength="25" ng-readonly="true" name="ConfirmPassword"/>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Email: </label>
            <input ng-model="person.Email" class="form-control" type="email" ng-minlength="7" ng-maxlength="30" ng-readonly="true" ng-required="true" name="Email" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Address: </label>
            <input ng-model="person.Address" class="form-control" ng-minlength="4" ng-maxlength="25" ng-required="true" name="Address" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">City: </label>
            <input ng-model="person.City" class="form-control" ng-minlength="4" ng-maxlength="25" ng-required="true" name="City" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Zip code: </label>
            <input ng-model="person.ZipCode" class="form-control" ng-minlength="5" ng-maxlength="10" ng-required="true" name="ZipCode" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Phone number: </label>
            <input ng-model="person.PhoneNumber" class="form-control" ng-minlength="9" ng-maxlength="15" name="PhoneNumber" />
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Admin?</label>
            <input type="checkbox" ng-model="person.Admin" name="Admin" />
        </div>

        <div class="form-group">
            <input type="hidden" ng-model="person.Id" />
        </div>
        <button type="submit" ng-disabled="addForm.$invalid" ng-click="pc.savePerson()" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </form>
    <font color="red"> {{statusMessage}} </font>
    <br />

    <div class="col-xs-12">
        <div class="col-xs-2" style="font-size:large">User name</div>
        <div class="col-xs-2" style="font-size:large">First name</div>
        <div class="col-xs-3" style="font-size:large">Last name</div>
        <div class="col-xs-3" style="font-size:large">Email</div>
        <!--<div class="col-xs-2" style="font-size:large">Address</div>
        <div class="col-xs-1" style="font-size:large">ZipCode</div>
        <div class="col-xs-1" style="font-size:large">City</div> -->
        <div class="col-xs-2" style="font-size:large">Action</div>
    </div>

    <div>
        <br />
        <div class="col-xs-12" ng-repeat="listperson in people |filter:search track by $index">
            <div class="col-xs-2">{{listperson.UserName}}</div>
            <div class="col-xs-2">{{listperson.FirstName}}</div>
            <div class="col-xs-3">{{listperson.LastName}}</div>
            <div class="col-xs-3">{{listperson.Email}}</div>
            <!--<div class="col-xs-2">{{listperson.Address}}</div>
            <div class="col-xs-1">{{listperson.ZipCode}}</div>
            <div class="col-xs-1">{{listperson.City}}</div>-->

            <div class="col-xs-2">
                <a href="#/handlePeople" ng-click="pc.edit(listperson.Id)">edit</a> |
                <a href="#" >change password</a>
            </div>

        </div>
    </div>
</div>
