<!-- handleUserOrder.html -->
<h1>Handle user order</h1>

<p>{{ message }}</p>

 Date : {{today | date:'yyyy/MM/dd'}}
<div ng-controller="handleUserOrderController as uohc" ng-repeat="userorder in userOrderHistory">
    <hr />  
    <div>
        <div class="col-xs-6" style="font-size:large">Order Id: {{userorder.Id}} </div>
        <div class="col-xs-6" style="font-size:large">Order date: {{userorder.dateNewFormat|date:'yyyy/MM/dd'}} </div>
    </div>
    <br />
    <div class="col-xs-12">
        <div class="col-xs-2" style="font-size:large">Title</div>
        <div class="col-xs-2" style="font-size:large">Author</div>
        <div class="col-xs-2" style="font-size:large">ISBN</div>
        <div class="col-xs-2" style="font-size:large">Price</div>
        <div class="col-xs-2" style="font-size:large">No of item</div>        
        <div class="col-xs-2" style="font-size:large">Action</div>
    </div>
    <br />
    <div class="col-xs-12" ng-repeat="row in userorder.OrderRows |filter:search track by $index">
        <div class="col-xs-2">{{row.BookPurchase.Title}}</div>
        <div class="col-xs-2">{{row.BookPurchase.Author}}</div>
        <div class="col-xs-2">{{row.BookPurchase.ISBN}}</div>
        <div class="col-xs-2">{{row.BookPurchase.Price}}</div>     
        <div class="col-xs-2">{{row.NoOfItem}}</div>
        <div class="col-xs-2">
            <a href="" ng-click="uohc.deleteOrderRow(userorder.Id, row.Id)">delete row</a>            
        </div>
    </div>
    <br />
    <br />
    <div class="col-xs-12 col-xs-offset-8">
        <div class="col-xs-2" style="font-size:large">Total amount:</div>
        <div class="col-xs-2">{{userorder.totalOrderAmount | currency : " SEK" : 2}}</div>
    </div>
    <br />
</div>

